@import '../../styles/_variables.scss';

.homepage {
  .who-logo {
    max-width: 200px;
  }

  h1, h2 {
    color: $accent-blue-dark;
  }
  
  .input-group {
    max-width: 500px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  section.header {
    padding-top: 50px;
  }

  section.overview {
    text-align: justify;
    max-width: 740px;
    padding-top: 75px;
    border-top: solid 1px $accent-blue-dark;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3*$buffer;
    padding-right: 3*$buffer;

    @media screen and (max-width: 376px) {
      margin-top: 50px;
      padding-top: 50px;
      padding-left: $buffer;
      padding-right: $buffer;
    }
  }
}