@import '../../styles/_variables.scss';

.dashboard {

  // TABLE FIXES
  .table {
    // otherwise table overflows screen width
    max-width: $max-width;
    @media screen and (max-width: 576px) {
      // max-width: $max-width-mobile;
    }
    @media screen and (min-width: 768px) {
      // otherwise table doesn't take up screen width
      &.table-responsive {
        display: table;
      }
    }
  }

  .demographics-table {
    position: relative;
    background-color: white;
    padding-bottom: $table-margin;
    // margin-left: $table-margin;
    
    .table {
      @media screen and (min-width: 992px) {
        display: table !important; // allows it to grow
      }
      
      // max-width: $max-width;
      th[scope="row"] {
        cursor: pointer;
      }
      td {
        white-space: nowrap;
      }
    }
    
    h2 {
      padding-left: 45px;
    }
    
    .table-title {
      display: inline-block;
    }
    
    .empty-table {
      font-weight: bold;
    }
    
    .token { // ALL
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
      margin: 3px 2px;
      border-radius: 6px;
      border: 1px solid;
      display: inline-block;
      text-align: center;
      cursor: pointer;
    }
    
    .group-toggles {
      max-width: $max-width;
      display: flex;
      justify-content: center;
      @media screen and (max-width: 376px) {
        flex-wrap: wrap;
      }
      
      .token { // group
        padding: 5px 10px;
        font-weight: bold;
        font-size: 16px;
        &:not(:last-of-type) {
          margin-right: 8px;
        }
        
        &.hide-all {
          background: black;
          color: white;
        }
        &.show-women {
          // background: $women;
          // color: #f2f2f2;
          background-color: $women;
          border-color: $women;
        }
        &.show-men {
          // background: $men;
          // color: #f2f2f2;
          background-color: $men;
          border-color: $men;
        }
        &.show-all {
          // background: #f2f2f2;
          background-color: white;
          border-color: black;
        }
        &.hide-all, &.show-men, &.show-women  {
          // background: #f2f2f2;
          // border: 2px solid;
          color: white;
        }
      }
    }
    
    .row-control {
      max-width: $max-width;
      margin: $table-margin;
      .hidden-rows {
        display: flex;
        
        .title {
          flex-basis: 110px;
          &.all-visible {
            text-align: center;
            flex-basis: 100%;
          }
          flex-grow: 0;
          flex-shrink: 0;
          line-height: 16px;
          align-self: center;
          i {
            font-size: 12px;
            display: block;
          }
        }
        
        .token { // individual row
          font-size: 13px;
          font-weight: lighter;
          background: #f2f2f2;
          border-left: 15px solid;
          border-right: 2px solid;
          // color: white;
          padding: 4px 10px 4px 4px;
          &:not(:last-of-type) {
            margin-right: 5px;
          }
          
          &.f15-99 {
            border-color: $women;
          }
          &.m15-99 {
            border-color: $men;
          }
          &.f50-99 {
            border-color: rgba($women, .76);
          }
          &.m50-99 {
            border-color: rgba($men, .76);
          }
          &.f35-49 {
            border-color: rgba($women, .59);
          }
          &.m35-49 {
            border-color: rgba($men, .59);
          }
          &.f25-34 {
            border-color: rgba($women, .43);
          }
          &.m25-34 {
            border-color: rgba($men, .43);
          }
          &.f15-24 {
            border-color: rgba($women, .27);
          }
          &.m15-24 {
            border-color: rgba($men, .27);
          }
        }
      }
    }
  }
}