@import '../../styles/_variables.scss';

.policy-table {
  background-color: white;
  // max-width: $max-width;
  // margin-left: $table-margin;
  // padding-bottom: 1*$table-margin;
  // margin-bottom: 2*$table-margin;
  
  span.marker {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    &.compliant {
      background: #518e4c;
    }
    &.non-compliant {
      background: #e99244;
    }
  }
}