@import '../../styles/_variables.scss';

.prog-95 {
  .title {
    transform: rotate(-90deg);
    position: absolute;
    left: calc(-120px + 25%);
    top: 154px;
    font-size: 18px;

    font-weight: 300;
    white-space: pre;
    
    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
  }
  
  .nested-boxes {
    svg {
      padding-left: 15%;
      display: block;
      margin: auto;
      max-height: 300px;
    }

    line {
      stroke-width: .4;
      stroke-dasharray: .6 .8;
    }

    text {

    }
  }
}