@import '../../styles/_variables.scss';

.prog-95 {
  .title {
    &.xl {
      display: none;
    }
    transform: rotate(-90deg);
    position: absolute;
    left: calc(-120px + 25%);
    top: 154px;
    font-size: 18px;

    font-weight: 300;
    white-space: pre;
  }
  
  .nested-boxes {
    &.xl {
      display: none;
    }
    svg {
      padding-left: 15%;
      display: block;
      margin: auto;
      max-height: 300px;
    }
    
    line {
      stroke-width: .6;
      stroke-dasharray: 1 1.2;
    }
    
    text {
      .percent {
        font-weight: 600;
      }
    }
  }
  
  @media screen and (max-width: 376px) {
    .title {
      font-size: 16px;
      top: 115px;
    }
    svg {
      min-height: 180px;
    }
  }
  @media screen and (min-width: 1200px) {
    .title {
      display: none;
      &.xl {
        display: block;
      }
      transform: none;
      position: static;
      font-size: 24px;
      text-align: center;
    }
    .nested-boxes {
      display: none;
      &.xl {
        display: block;
      }
      svg {
        padding-left: 30px;
        max-height: 210px;
      }
    }
  }
}