@import '../../styles/_variables.scss';

.nested-boxes {
  svg {
    max-height: 300px;
  }

  line {
    stroke-width: .4;
    stroke-dasharray: .6 .8;
  }

  text {

    // .percent {
    //  font-size: 18px; 
    // }
    // .description {
    //  font-size: 14px; 
    // }
  }
}