@import './styles/_variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo Narrow', sans-serif;
  // background: #f6f7f8;
  color: $near-black;
}

.highcharts-container, .highcharts-container .text {
  font-family: 'Archivo Narrow', sans-serif !important;
}

#root {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background: $vista-white;
  
  .app.container-fluid {
    padding-top: 15px;
    background: $vista-white;
  }
}